header{
  width: 100%;
  display: flex;
 position: fixed;
 z-index: 2;
}
body{
    margin: 0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-bottom: 1px solid lightgray; 
    opacity: 1;
    justify-content: space-around;
    display: flex;
    width: 100svw;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: auto;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    
    color: white;
  }

  .schule div{
    color: #ddd;
    width: 50%;
    font-size: 20px;
    padding: 20px;

    border-bottom: 1px solid lightgray; 
  }
  section{
   background-color: #333;
    display: flex;  
    height: auto;
   
  }

.schule{
    background-image: url("../img/s.jpeg");
    background-repeat: no-repeat;
   background-size: cover;
   height: auto;
}
.bck-col{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img{
    height: 520px;
    width: 230px;
    border-bottom: 1px solid lightgray;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 30px;
   flex-direction: column;
   border-top: 1px solid lightgray;
  }

.videosos-und-zitat{
display: flex;
padding-left: 100px;
align-items: center;
color: #f2f2f2;



}

body{
  background-color: #333;
 overflow-x: hidden;
}

body {
  color: #f2f2f2;
}

img {
 height: 100%;

 
}
.praktikum div{
width: 50%;
border-bottom: 1px solid lightgray;
}
video{
 height: 420px;
 width: 720px;
}
.videose{
display: flex;
justify-content: center;
align-items:  center;

}